body{
    background-color:beige
}
.div1
{
    border: 5px solid black;
    text-align: center;
    padding: 50px;
    margin-top: 200px;
    margin-left: 450px;
    width: 400px;
    background-color: white;
   

}
