#main{
    background-color: red;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
}
#one{
    background-color: aqua;
    width: 50%;
}
#two{
    background-color: black;
    width: 50%;
}