#main{
    display: flex;
justify-content: center;
    background-color: aqua;
    
    height: 100vh;
    width: 100%;
    padding: 50px;

}
#first{
    background-color: rgb(23, 23, 81);
    width: 50%;
}
#second{
width: 50%;
background-color: blanchedalmond;
}